$border-radius: 10px;

.c-zoom-control {
  position: relative;
  display: flex;
  flex-direction: column;

  .zoom-control--btn {
    cursor: pointer;
    width: 50px;
    height: 35px;
    background: #FFF;
    fill: #000;
    position: relative;
    border-top: 1px solid #000;
    border-radius: 0px;
    box-shadow: 0 0px 2px 0 rgba(#000, 0.5);

    &:hover {
      background: darken(#FFF, 2.5);
    }

    &:first-child {
      border-radius: $border-radius $border-radius 0 0;
      border-top: none;
    }

    &:last-child {
      border-radius: 0 0 $border-radius $border-radius;
    }

    &.-disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
}
