@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    font-family: 'News Gothic MT';
  }

  img,
  svg {
    display: block;
    vertical-align: middle;
  }

  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button,
  input::-webkit-search-results-button,
  input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

  /* News Gothic MT */
  @font-face {
    font-family: 'News Gothic MT';
    src: url('/fonts/newsgothicmt-webfont.woff2') format('woff2'),
      url('/fonts/newsgothicmt-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'News Gothic MT';
    src: url('/fonts/newsgothicmtbold-webfont.woff2') format('woff2'),
      url('/fonts/newsgothicmtbold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
}


