@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    font-family: 'News Gothic MT';
  }

  img,
  svg {
    display: block;
    vertical-align: middle;
  }

  img {
    height: 100%
  }

  input::-webkit-decoration,
  input::-webkit-cancel-button,
  input::-webkit-results-button,
  input::-webkit-results-decoration {
    -webkit-appearance: none;
  }

  input::-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active
  input::-webkit-autofill-selected {
    background-color: white !important;
  }

  input[type=checkbox]:checked {
    background-color: #3A3F59;
    color: white;
  }

  .mapboxgl-ctrl-group button {
    border-radius: 10px;
    border: none;
    background-color: #3A3F59 !important;
    width: 25px !important;
    height: 25px !important;
    background-color: blue ;
    position: absolute;
    top: 12px;
    right: 12px
;
  }

  .mapboxgl-ctrl-icon {
    width: 5px !important;
    height: 5px !important;
    background-image: url('/images/enlarge.svg') !important;
  }

  /* News Gothic MT */
  @font-face {
    font-family: 'News Gothic MT';
    src: url('/fonts/newsgothicmt-webfont.woff2') format('woff2'),
      url('/fonts/newsgothicmt-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'News Gothic MT';
    src: url('/fonts/newsgothicmtbold-webfont.woff2') format('woff2'),
      url('/fonts/newsgothicmtbold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
}

.mapboxgl-popup-content{
  background-color: #3A3F59 !important;
  color: white;
}

  @layer utilities {
  .bg-shadow-sm {
    @apply shadow;
  }
  .bg-shadow {
    @apply shadow;
  }

  @supports (filter: drop-shadow(40px 40px 4px rgba(22, 26, 47, 0.24))) {
    .bg-shadow-sm {
      filter: drop-shadow(40px 40px 4px rgba(22, 26, 47, 0.24));
    }
    .bg-shadow {
      filter: drop-shadow(0px 10px 20px rgba(14, 48, 114, 0.1));
    }
  }
}
